<div class="question">
  <button {{action 'delete' question}}>Delete Question</button>
  <h3>{{question.question}}</h3>
  <p>Asked by: {{question.author}}</p>
  <p>{{question.notes}}</p>

  <h5>Location:</h5>
  <p>{{question.location}}</p>

  <h4>Answers from the Vampire Community</h4>
  <p>
    {{#each question.answers as |answer|}}
      {{answer-detail answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
  </p>
</div>
