{{#if updateQuestionForm}}
  <div class="question">
    <h4>Update Question</h4>
      <form>
        <div class="form-group">
          <label for="author">Your Name</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>
        <div class="form-group">
          <label for="question2">Question</label>
          {{input value=question2 id="question2" placeholder=question.question}}
        </div>
        <div class="form-group">
          <label for="notes">Bio</label>
          {{input value=notes id="notes" placeholder=question.notes}}
        </div>
        <div class="form-group">
          <label for="city">Location</label>
          {{input value=city id="city" placeholder=question.city}}
        </div>
        <button class="btn btn-sm" {{action 'update' question}}>Save</button>
        <button class="btn btn-sm" {{action 'cancel'}}>Cancel</button>
      </form>
    </div>
{{else}}
  <button class="btn btn-sm floating-button" {{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
